*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body, #root{
  width: 100%;
  background-color: #000;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
  position: relative;
}

section{
  min-height: 100vh;
  /* border: 2px solid #fff; */
  position: relative;
  z-index: 2;
}

#canvas-elem::after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/background-l.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
}

#section-1{ 
  position: relative;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem;

    svg {
      max-width: 7rem;
      width: 100%;
      height: 100%;
    }
  }

  .heroBanner{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;

    h1{
      font-size: 8rem;
      font-weight: 600;
      text-align: end;
      /* letter-spacing: 10px; */
      line-height: 7rem;
      /* background-color: yellow; */
      
    }
  }

  .text-divider{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;


    .div{
      width: 50%;
      /* background-color: green; */
    }

    .text-para{
       max-width: 20rem;
       margin-top: 20px;

       h4{
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 400;
        margin-bottom: 15px;
       }
       
    }
  }

  .first-line{
    width: 45rem;
    background-color: rgba(255, 0, 0, 0.588);
    height: 1px;
    position: absolute;
    transform: rotate(45deg) translate(-10rem,-15rem);

  }

  .second-line{
    width: 10rem;
    background-color: rgba(255, 0, 0, 0.588);
    height: 1px;
    position: absolute;
    transform: rotate(-45deg) translate(75rem,20rem);

  }
}

#section-2{
  padding-top: 150px;
  
  .titles{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* background-color: red; */
    margin: 0 auto;

    .title{
      display: flex;
      gap: 4rem;
      opacity: 0.5;
      padding-block: 1rem;
      transition:  all 0.3s linear;

      h1{
        font-size: 4.2rem;
        font-weight: 400;
        line-height: 1;
      }

      small{
        margin-top: 1.1rem;
      }
    }

    .title:hover{
      opacity: 1;
      cursor: pointer;
    }
  }

}

main:has(#section-2 .title:hover) #canvas-elem::after{
  opacity: 0;
}

.images{
  position: fixed;
 height: 100%;
 width: 100%;
 top: 0;
 left: 0;
 

 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s linear;
 }
}

main:has(#section-2 .title[img-title="tommorowland"]:hover) .images #tommorowland{
  opacity: 1;
  background-color: rgb(4,7,24);
}
main:has(#section-2 .title[img-title="navy-pier"]:hover) .images #navy-pier{
  opacity: 1;
  background-color: rgb(4,7,24);
}
main:has(#section-2 .title[img-title="msi-chicago"]:hover) .images #msi-chicago{
  opacity: 1;
  background-color: rgb(4,7,24);
}
main:has(#section-2 .title[img-title="phone"]:hover) .images #phone{
  opacity: 1;
  background-color: rgb(4,7,24);
}
main:has(#section-2 .title[img-title="kikk"]:hover) .images #kikk{
  opacity: 1;
  background-color: rgb(4,7,24);
}
main:has(#section-2 .title[img-title="kennedy"]:hover) .images #kennedy{
  opacity: 1;
  background-color: rgb(4,7,24);
}
main:has(#section-2 .title[img-title="opera"]:hover) .images #opera{
  opacity: 1;
  background-color: rgb(170, 0, 0);
}

  


#section-3{
  padding-top: 15rem;
  padding-inline: 10rem;
  position: relative;
  z-index: 0;
  isolation: isolate;
  min-height: initial;


  .top,.bottom{
    display: flex;
    width: 100%;
    gap: 4rem;
  }

  .left,.right{
    width: 50%;
  }


  .top .left{
    /* text-align: right; */
    padding-left: 5rem;

    h3{
      font-size: 1.6rem;
      font-weight: 600;
      opacity: 0.8;
    }
  }

  .bottom .right{
    display: flex;

    p{
      opacity: 0.5;
      font-weight: 200;
    }
  }
}

#section-4{
  padding-top: 5rem;
  min-height: 50vh;
  padding-inline: 10rem;

  .top,.bottom{
    display: flex;
    width: 100%;
    gap: 4rem;
  }

  .left,.right{
    width: 50%;
  }


  .top .left{
    /* text-align: right; */
    padding-left: 5rem;

    h3{
      font-size: 1.6rem;
      font-weight: 600;
      opacity: 0.8;
    }
  }

  .bottom .right{
    display: flex;

    p{
      opacity: 0.5;
      font-weight: 200;
    }
  }
}